@import "quasar.variables";

:root {
  --layout-max-width: $layout-max-width;
  --normal-border: 1px solid rgba(0, 0, 0, .12);

  --colors:
    $primary
    $secondary
    $accent

    cadetblue
    cornflowerblue
    darkcyan
    deepskyblue
    dodgerblue
    palevioletred
    peru
    rosybrown
    royalblue
    steelblue
    teal
    tomato
}
